@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



body {
    background-color: #001f3f; 
    color: #f1f1f1; 
}

h1, h3 {
    color: #f1c40f; 
}

.badge {
    font-size: 1.2rem;
    padding: 10px;
}

.btn-primary {
    background-color: #f1c40f; 
    border-color: #f1c40f;
    color: #001f3f;
}

.btn-primary:hover {
    background-color: #ffc107; 
    border-color: #ffc107;
}

.card {
    background-color: #fff; 
    border: 2px solid #001f3f; 
}

.card-title {
    color: #001f3f; 
}

footer {
    background-color: #f1c40f; 
    color: #001f3f; 
}

a {
    color: #f2f2f2; 
}

a:hover {
    color: #56471b;
}
